.project-card{
  background-size: 100%;
}
.project-card:hover{
  background-size: 110%;
}
.project-card-deteils{
  top: 100%;
  bottom: -80%;
  
}
.project-card:hover .project-card-deteils{

  bottom: 0;
  top: 0;

}

@media (min-width: 1024px) and (max-width: 1279px) {
  .full-width-grid {
    grid-template-columns: 1fr !important; /* Make the grid span only one column */
  }
}


  